<head>
    <title>My OpenID</title>
    <link rel="openid2.provider openid.server" href="<%= @openid[:server]%>" />
    <link rel="openid2.local_id openid.delegate" href="<%= @openid[:openid]%>" />
</head>
<body>
    <h1>Sorry, but here is nothing to see ;-)</h1>
    <p>
	OpenID server: <%= @openid[:server]%><br />
	OpenID delegate: <%= @openid[:openid]%>
    </p>
</body>